.dropdown2 {
  position: relative;
}
.dropdown2-toggle:focus {
  outline: 0;
}
.dropdown2-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 15px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown2-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown2-menu .divider {
  height: 1px;
  margin: 9.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown2-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #7b8a8b;
  white-space: nowrap;
}
.dropdown2-menu > li > a:hover,
.dropdown2-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #2c3e50;
}
.dropdown2-menu > .active > a,
.dropdown2-menu > .active > a:hover,
.dropdown2-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #2c3e50;
}
.dropdown2-menu > .disabled > a,
.dropdown2-menu > .disabled > a:hover,
.dropdown2-menu > .disabled > a:focus {
  color: #b4bcc2;
}
.dropdown2-menu > .disabled > a:hover,
.dropdown2-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown2-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown2-menu-right {
  left: auto;
  right: 0;
}
.dropdown2-menu-left {
  left: 0;
  right: auto;
}
.dropdown2-header {
  display: block;
  padding: 3px 20px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #b4bcc2;
}
.dropdown2-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown2-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown2 .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}
.dropup .dropdown2-menu,
.navbar-fixed-bottom .dropdown2 .dropdown2-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown2-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown2-menu-left {
    left: 0;
    right: auto;
  }
}
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
