/*.bg-light {
    background-color: unset !important;
}*/

a {
    font-family: Droid Arabic Kufi !important;
}

/*.navbar {
    position: absolute;
    top: 5px;
}*/

.btns {
    position: absolute;
    z-index: 1;
    top: 138px;
    right: 410px;
}

/*.container {
    margin-top: 90px;
}*/




/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    /* Style the icon bar links */
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    }

        /* Style the social media icons with color, if you want */
        .icon-bar a:hover {
            background-color: #000;
        }

.facebook {
    background: #3B5998;
    color: white;
}

.snap {
    background: #f8f81299;
    color: yellow;
}

.google {
    background: #535658;
    color: white;
}

.linkedin {
    background: rgba(0,0,0,.075);
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.counter {
    /*background-color: #0984a8;*/
    text-align: center;
}

.employees, .customer, .design, .order {
    /*margin-top: 70px;*/
    margin-bottom: 70px;
}

.counter-count {
    font-size: 18px;
    background-color: #0984a8;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p, .customer-p, .order-p, .design-p {
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}

/*.navbar {
    position: absolute;
    top: 5px;
}*/

.panel-heading {
    background-color: #3c4bff;
    color: white;
}

.panel-footer {
    background-color: #3c4bff;
    color: white;
}

.card-title {
    font-size: large;
    font-weight: bold;
}

.panel {
    direction: rtl;
    text-align: right;
    border: solid;
}

.dropbtn {
    background-color: #3c4bff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3c4bff;
}

