@{
    Layout = "~/Views/Shared/_empty.cshtml";
    ViewBag.Title = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/MainPageStyle/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/MainPageStyle/css/fontawesome.css">
    <link rel="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .bg-light {
            background-color: unset !important;
        }
        a {
            font-family: Droid Arabic Kufi !important;
        }
    </style>
</head>
<body>
    <img class="img img-fluid" src="~/MainPageStyle/img/others.svg" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: fit-content;margin-top: -151px;">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Main", "Home")"><img src="~/MainPageStyle/img/home.svg"> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ContactUs", "Home")"><img src="~/MainPageStyle/img/callus.svg"></a>
            </li>
            <li class="nav-item">
                <div class="s128">
                    <form>
                        <div class="inner-form">
                            <div class="row" style="margin-right: unset">
                                <div class="input-field first" id="first">
                                    <input class="input" id="inputFocus" type="text" placeholder="Keyword" oninput="search(document.getElementById('inputFocus').value)" />
                                    <button class="clear" id="clear">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="margin-top: -6px;">
                                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </nav>
    <div class="row text-center" style="margin-right: 424px; margin-top: 100px;">
        <a href="#" ><img  onclick="roaashow(false);" class="rounded affix" src="~/MainPageStyle/img/Group 1697.svg" style="width:258px ;height:60px" /></a>
        <a href="#"><img onclick="roaashowDone(false);" class="rounded affix" src="~/MainPageStyle/img/Group 1668.svg" style="width:258px ;height:60px" /></a>
    </div>
    <div class="container row" style="margin-bottom: 25px;" id="Dream_Body">
        <div id="Body">
            
        </div>
    </div>
    <div class="row center" style="text-align: center;display: inline-block;margin-left: 48%;;">
        <a href="#" style="display: inline-block"><img onclick="loadMore();" class="rounded affix" src="~/MainPageStyle/img/Group 2020.svg" style="width:258px ;height:60px" /></a>
    </div>
</body>

@section Scripts
{
    <script src="~/MainPageStyle/js/date.format.js"></script>
    <script src="~/MainPageStyle/js/fontawesome.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <script type="text/javascript">
        var currentValue = "Done";
        $(document).ready(function () {
            roaashow(false);

        });

        function loadMore() {
            if (currentValue == "Done")
                roaashowDone(true);
            else
                roaashow(true);
        };
        function roaashow(loadmore) {
            currentValue = "Active";
            if (loadmore==false)
                $('#Dream_Body div').remove();
            $.ajax({
                type: "GET",
                url:'@Url.Action("GetDreams", "Dreams",new { status="Active"})',
                    dataType: "json",
                    data: {},
                    success: function (data) {
                        $.each(data, function (index, value) {
                            var dateString = value.CreationDate;
                            var date = new Date(parseInt(dateString.substr(6)));
                            var row = "<div id='Body' class='col-sm-6 col-lg-4'>"+
                            "<a href='Details/"+value.id+"\'><div class='card rounded-card ' style='width: 489.68px;height: 272.49px; background-color: #3C4BFF; color: white'>"+
                            "<div class='title text-right '>"+
                                "<p class='pr-4 pt-2' style='font-family:Droid Arabic Kufi;font-size:18px;color:white;'>" + (value.pathCost == 0 ? "رؤية مجانية " : ("رؤية مدفوعة والتكلفة " + value.pathCost))+"</p><i class='fas fa- cloud'></i>"+
                                "<hr style='background-color:white'>" +
                            "</div>"+
                            "<div class='card-body'>"+
                            "<a href='Details/"+value.id+ "\'style='color: #3C4BFF'><p class='card-text text-right' style='font-family:Droid Arabic Kufi;font-size:18px;color:white'>"+value.Description+"</p>"+
                            "</a></div>"+
                            "<hr style='background-color:white'>"+
                            "<div class='d-flex bd-highlight justify-content-between'>"+
                                "<div class='p-2 bd-highlight' style='font-family:Droid Arabic Kufi;font-size:17px;color:white !important;' >" + date.format("dd/mm/yyyy")+"</div>"+
                                "<div class='p-2 flex-shrink-1 bd-highlight'><span class='pl-1'>" + value.numberOfViews +"<span> مشاهدة </span>"+
                                "<span>" + value.numberOfLikes +"</span><span> إعجاب </span></div>"+
                            "</div>"+

                            "</div></a></div>";
                            $('#Dream_Body').append(row);
                        });

                    }
                });

        }


        function roaashowDone(loadmore) {
            currentValue = "Done";
            if (loadmore==false)
                $('#Dream_Body div').remove();
                $.ajax({
                    type: "GET",
                    url:'@Url.Action("GetDreams", "Dreams",new { status="Done"})',
                    dataType: "json",
                    data: {},
                    success: function (data) {
                        $.each(data, function (index, value) {
                            var dateString = value.CreationDate;
                            var date = new Date(parseInt(dateString.substr(6)));
                            var row = "<div id='Body' class='col-sm-6 col-lg-4'>" +
                                "<a href='Details/" + value.id + "\'><div class='card rounded-card ' style='width: 489.68px;height: 272.49px; background-color: #3C4BFF; color: white'>" +
                                "<div class='title text-right '>" +
                                "<p class='pr-4 pt-2' style='font-family:Droid Arabic Kufi;font-size:18px;color:white;'>" + (value.pathCost == 0 ? "رؤية مجانية " : ("رؤية مدفوعة والتكلفة " + value.pathCost)) + "</p><i class='fas fa- cloud'></i>" +
                                "<hr style='background-color:white'>" +
                                "</div>" +
                                "<div class='card-body'>" +
                                "<a href='Details/" + value.id + "\'style='color: #3C4BFF'><p class='card-text text-right' style='font-family:Droid Arabic Kufi;font-size:18px;color:white'>" + value.Description + "</p>" +
                                "</a></div>" +
                                "<hr style='background-color:white'>" +
                                "<div class='d-flex bd-highlight justify-content-between'>" +
                                "<div class='p-2 bd-highlight' style='font-family:Droid Arabic Kufi;font-size:17px;color:white !important;' >" + date.format("dd/mm/yyyy") + "</div>" +
                                "<div class='p-2 flex-shrink-1 bd-highlight'><span class='pl-1'>" + value.numberOfViews + "<span> مشاهدة </span>" +
                                "<span>" + value.numberOfLikes + "</span><span> إعجاب </span></div>" +
                                "</div>" +

                                "</div></a></div>";
                            $('#Dream_Body').append(row);
                        });

                    }
                });

        }


        function search(loadmore) {
            $('#Dream_Body div').remove();
            $.ajax({
                type: "GET",
                url: 'GetDreams?searchString=' + loadmore,
                dataType: "json",
                data: { },
                    success: function (data) {
                        $.each(data, function (index, value) {
                            var dateString = value.CreationDate;
                            var date = new Date(parseInt(dateString.substr(6)));
                            var row = "<div id='Body' class='col-sm-6 col-lg-4'>" +
                                "<a href='Details/" + value.id + "\'><div class='card rounded-card ' style='width: 489.68px;height: 272.49px; background-color: #3C4BFF; color: white'>" +
                                "<div class='title text-right '>" +
                                "<p class='pr-4 pt-2' style='font-family:Droid Arabic Kufi;font-size:18px;color:white;'>" + (value.pathCost == 0 ? "رؤية مجانية " : ("رؤية مدفوعة والتكلفة " + value.pathCost)) + "</p><i class='fas fa- cloud'></i>" +
                                "<hr style='background-color:white'>" +
                                "</div>" +
                                "<div class='card-body'>" +
                                "<a href='Details/" + value.id + "\'style='color: #3C4BFF'><p class='card-text text-right' style='font-family:Droid Arabic Kufi;font-size:18px;color:white'>" + value.Description + "</p>" +
                                "</a></div>" +
                                "<hr style='background-color:white'>" +
                                "<div class='d-flex bd-highlight justify-content-between'>" +
                                "<div class='p-2 bd-highlight' style='font-family:Droid Arabic Kufi;font-size:17px;color:white !important;' >" + date.format("dd/mm/yyyy") + "</div>" +
                                "<div class='p-2 flex-shrink-1 bd-highlight'><span class='pl-1'>" + value.numberOfViews + "<span> مشاهدة </span>" +
                                "<span>" + value.numberOfLikes + "</span><span> إعجاب </span></div>" +
                                "</div>" +

                                "</div></a></div>";
                            $('#Dream_Body').append(row);
                        });

                    }
                });

        }


        var btnDelete = document.getElementById('clear');
        var inputFocus = document.getElementById('inputFocus');
        btnDelete.addEventListener('click', function (e) {
            e.preventDefault();
            inputFocus.value = ''
        })
        document.addEventListener('click', function (e) {
            if (document.getElementById('first').contains(e.target)) {
                inputFocus.classList.add('isFocus');
            }
            else {
                // Clicked outside the box
                inputFocus.classList.remove('isFocus')
            }
        });

        
    </script>
}
