@{
    Layout = "~/Views/Shared/_empty.cshtml";
    ViewBag.Title = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/MainPageStyle/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/MainPageStyle/css/fontawesome.css">
    <link rel="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .bg-light {
            background-color: unset !important;
        }
        a {
            font-family: Droid Arabic Kufi !important;
        }
    </style>
</head>
<body>
    <img class="img img-fluid" src="~/MainPageStyle/img/others.svg" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: fit-content;margin-top: -151px;">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Main", "Home")"><img src="~/MainPageStyle/img/home.svg"> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ContactUs", "Home")"><img src="~/MainPageStyle/img/callus.svg"></a>
            </li>
        </ul>
    </nav>
    <div class="row text-center" style="margin-right: 424px; margin-top: 100px;">
        <a href="#"><img class="rounded affix" src="~/MainPageStyle/img/Group 1697.svg" style="width:258px ;height:60px" /></a>
        <a href="#"><img class="rounded affix" src="~/MainPageStyle/img/Group 1668.svg" style="width:258px ;height:60px" /></a>
    </div>
    <div class="container row" style="margin-bottom: 25px;" id="Dream_Body">

    </div>

</body>

@section Scripts
{
    <script src="~/MainPageStyle/js/date.format.js"></script>
    <script src="~/MainPageStyle/js/fontawesome.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
                roaashow();

        });
            function roaashow() {
                $.ajax({
                    type: "GET",
                    url:'@Url.Action("GetDreams", "Dreams")',
                    dataType: "json",
                    data: {},
                    success: function (data) {
                        $.each(data, function (index, value) {
                            var dateString = value.CreationDate;
                            var date = new Date(parseInt(dateString.substr(6)));
                            var row = "<div class='col-sm-6 col-lg-4'>"+
                            "<a href='details.html'><div class='card rounded-card ' style='width: 489.68px;height: 272.49px; background-color: #3C4BFF; color: white'>"+
                            "<div class='title text-right '>"+
                            "<p class='pr-4 pt-2' style='font-family:Droid Arabic Kufi;font-size:18px;color:white;'>رؤية مجانية</p>"+
                            "<hr style='background-color:white'>"+
                            "</div>"+
                            "<div class='card-body'>"+
                            "<a href='Details/"+value.id+ "\'style='color: #3C4BFF'><p class='card-text text-right' style='font-family:Droid Arabic Kufi;font-size:18px;color:white'>"+value.Description+"</p>"+
                            "</a></div>"+
                            "<hr style='background-color:white'>"+
                            "<div class='d-flex bd-highlight justify-content-between'>"+
                                "<div class='p-2 bd-highlight' style='font-family:Droid Arabic Kufi;font-size:17px;color:white !important;' >" + date.format("dd/mm/yyyy")+"</div>"+
                            "<div class='p-2 flex-shrink-1 bd-highlight'><span class='pl-1'>15<i class='fas fa-eye '></i></span>"+
                            "<span>15</span><i class='fas fa-heart' style='color: red'></i></div>"+
                            "</div>"+

                            "</div></a></div>";
                            $('#Dream_Body').append(row);
                        });

                    }
                });

 }

    </script>
}
