<html lang="en">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    @*<title>Metronic | Dashboard</title>*@
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="m-content--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside--offcanvas-default">

    <div class="m-content align-items-center !important;">
        @RenderBody()
    </div>

        <!-- end:: Body -->
       
</body>


    <!--end::Page Scripts -->
    @RenderSection("scripts", required: false)
</body>

</html>