<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>mks2000-001-site3.etempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://mks2000-001-site3.etempurl.com:8172/MsDeploy.axd?site=mks2000-001-site3</MSDeployServiceURL>
    <DeployIisAppPath>mks2000-001-site3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>mks2000-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5050.site4now.net;Initial Catalog=DB_A50F4D_mks2000;User ID=DB_A50F4D_mks2000_admin;Password=Mks5661133" Name="Data Source=SQL5050.site4now.net;Initial Catalog=DB_A50F4D_mks2000;User Id=DB_A50F4D_mks2000_admin;Password=Mks5661133" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Royaya.com.Models.ApplicationDbContext, Royaya.com" MigrationConfiguration="Royaya.com.Migrations.Configuration, Royaya.com" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5050.site4now.net;Initial Catalog=DB_A50F4D_mks2000;User Id=DB_A50F4D_mks2000_admin;Password=Mks5661133</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>