.sidebar {
          margin:-50px;
            margin-left: -200px;
            padding: 0px;
            position:absolute;
            width: 200px;
            background-color: #f1f1f1;
            height: 100%;
            overflow: auto;
        }

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: black;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  
  padding: 1px 16px;
  height: 800px;
}

@@media screen and (max-width: 700px) {
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
            }

                .sidebar a {
                    float: left;
                }

            div.content {
                margin-left: 0;
            }
        }


@@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
